html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10pt;
}

a{
	text-decoration:none;
	color: black;
}


#container {
	margin: 0 auto;
	padding: 20px 0 0 0;
	width: 980px;
}


#mediabar{
	display: block;
	margin: 0 auto;
	background-image:url("../img/mediaplayer.png");
	width: 844px;
	height: 38px;
}

ul.buttons{
list-style: none;
}

ul li{
display: block;
float:left;
height: 29px;
width: 50px;
}

li#min30{
width: 59px;
margin: 5px 0 0 -40px;
text-align: center;
}


li#min30 a{
margin:0 auto;
padding: 5px 0px 0px 0px;
position: absolute;
}

li#min30:hover{
background: url('../img/mediaplayer-active.png') no-repeat 0 0;

}


li#min60{
width: 50px;
margin: 5px 0 0 0px;
text-align: center;
}

li#min60 a{
margin: 0 auto;
padding: 5px 0 0 0;
position: absolute;
}

li#min60:hover{
background: url('../img/mediaplayer-active.png') no-repeat -59px 0;
	width: 50px;
	height: 29px;
}

li#day{
width: 60px;
margin: 5px 0 0 2px;
text-align: center;
}

li#day a{
margin: 0 auto;
padding: 5px 0 0 0;
position: absolute;
}

li#day:hover{
background: url('../img/mediaplayer-active.png') no-repeat -110px 0;
	width: 61px;
	height: 29px;
}

